#container {
    width: 500px;
    height: 500px;
    border: solid 1px;
    position: relative;
    background-color: #f0f0f0;
}

.object {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    transition: transform 5s linear;
}

.rock {
    background-image: url("images/rock.png");
    background-color: transparent;
    background-size: contain;
}

.paper {
    background-image: url("images/paper.png");
    background-color: transparent;
    background-size: contain;
}

.scissors {
    background-image: url("images/scissors.png");
    background-color: transparent;
    background-size: contain;
}